<!DOCTYPE html>
<html>
  <head>
    <title>TddExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%- unless flash.empty? %>
      <dialog open>
        <dl>
          <%- flash.each do |type, message| %>
            <dt><%= "#{ type.humanize }:" %></dt>
            <dd><%= message %></dd>
          <% end %>
        </dl>
      <% end %>
      </dialog>
      <%= yield %>
  </body>
</html>
